name: Build Server with Pakku

on:
  push:
    paths:
      - "**.json"
      - "**.yml"
      - "**.yaml"
      - "**.mcmeta"
      - "**.mcfunction"
      - "**.py"
      - "requirements.txt"
      - ".pakku/**"
      - "datapacks/**"
      - ".github/workflows/build.yml"
      - ".env"
      - "makefile"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    outputs:
      pakku: ${{ steps.pakku.outputs.path }}
      pakku_json: ${{ steps.pakku-lock.outputs.path }}

    steps:
      - uses: actions/checkout@v6

      - name: Check pakku.json
        id: pakku
        run: |
          if [ ! -f "pakku.json" ]; then
            echo "Could not find 'pakku.json'" && exit 1
          else
            echo "path=pakku.json" >> $GITHUB_OUTPUT
          fi

      - name: Check pakku-lock.json
        id: pakku-lock
        run: |
          if [ ! -f "pakku-lock.json" ]; then
            echo "Could not find 'pakku-lock.json'" && exit 1
          else
            echo "path=pakku-lock.json" >> $GITHUB_OUTPUT
          fi

  build:
    runs-on: ubuntu-latest

    env:
      PAKKU: java -jar pakku.jar
      BEET: python -m beet

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Load .env variables
        run: |
          source .env
          echo "PAKKU_VERSION=${PAKKU_VERSION}" >> $GITHUB_ENV
          echo "SERVER_NAME=${SERVER_NAME}" >> $GITHUB_ENV
          echo "SERVER_VERSION=${SERVER_VERSION}" >> $GITHUB_ENV

      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "22"

      - name: Cache pakku.jar
        id: cache-pakku-jar
        uses: actions/cache@v5
        with:
          path: pakku.jar
          key: pakku-jar-cache-${{ hashFiles('pakku.jar') }}

      - name: Cache pakku
        uses: actions/cache@v5
        id: cache-pakku
        with:
          path: build/.cache
          key: pakku-cache-${{ hashFiles('pakku-lock.json') }}
          restore-keys: pakku-cache-

      - name: Cache build directory
        uses: actions/cache@v5
        id: cache-build
        with:
          path: build
          key: build-cache-${{ hashFiles(
            'pakku.json',
            'pakku-lock.json',
            'makefile',
            'beet.yml',
            'requirements.txt',
            'datapack/**',
            'resourcepack/**',
            '.pakku/**') }}
          restore-keys: build-cache-

      - name: Download pakku.jar if not cached
        if: steps.cache-pakku-jar.outputs.cache-hit != 'true'
        run: |
          curl -OL https://github.com/juraj-hrivnak/Pakku/releases/download/v${{ env.PAKKU_VERSION }}/pakku.jar

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install build requirements
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run build
        run: |
          make all

      - name: Display structure of build directory
        run: ls -R build/

      - name: Upload mrpack artifacts
        uses: actions/upload-artifact@v6
        with:
          name: mrpack-${{ env.SERVER_VERSION }}
          path: build/**/*.mrpack

      - name: Upload zip artifacts
        uses: actions/upload-artifact@v6
        with:
          name: zip-${{ env.SERVER_VERSION }}
          path: build/**/*.zip

  test:
    runs-on: ubuntu-latest
    needs: [build]

    env:
      PAKKU: java -jar pakku.jar
      BEET: python -m beet

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "22"

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Load .env variables
        run: |
          source .env
          echo "SERVER_NAME=${SERVER_NAME}" >> $GITHUB_ENV
          echo "SERVER_VERSION=${SERVER_VERSION}" >> $GITHUB_ENV

      - name: Download zip artifacts
        uses: actions/download-artifact@v7
        with:
          name: zip-${{ env.SERVER_VERSION }}
          path: build/

      - name: Display structure of downloaded files
        run: ls -R build/

      - name: Install build requirements
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          make test
