name: Linting & Validation

on:
  push:
    paths:
      - "**.yml"
      - "**.yaml"
      - "**.json"
      - "**.py"
      - "requirements.txt"
      - "datapacks/"
      - ".github/workflows/lint.yml"

permissions:
  contents: read

jobs:
  validate:
    name: Validate JSON and YAML files

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: json-yaml-validate
        uses: GrantBirki/json-yaml-validate@v4.0.0

  validate-datapack:
    name: Validate Minecraft datapack 'Modally Stranded'

    runs-on: ubuntu-latest

    needs: [validate]

    steps:
      - uses: actions/checkout@v6

      - uses: mcbeet/check-commands@v1
        with:
          source: datapack/modally_stranded

  lint-yaml:
    name: Lint YAML

    runs-on: ubuntu-latest

    needs: [validate]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: YAML Linter
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          config_file: .github/config/lint-yaml.yml
