name: Linting & Validation

on:
  push:
    paths:
      - "**.yml"
      - "**.yaml"
      - "**.json"
      - "**.py"
      - "requirements.txt"
      - "datapacks/"
      - ".github/workflows/lint.yml"

permissions:
  contents: read

jobs:
  validate:
    name: Validate JSON and YAML files

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: json-yaml-validate
        uses: GrantBirki/json-yaml-validate@v4.0.0

  validate-datapack:
    name: Validate Minecraft datapack 'Modally Stranded'

    runs-on: ubuntu-latest

    needs: [validate]

    env:
      BEET: python -m beet

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install build requirements
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run build
        run: |
          make resources

      - run: unzip -q build/GCATs-datapack.zip -d build/GCATs-datapack
      - run: unzip -q build/GCATs-resourcepack.zip -d build/GCATs-resourcepack

      - name: Check server datapack
        uses: mcbeet/check-commands@v1
        with:
          source: build/GCATs-datapack/

      - name: Check server resourcepack
        uses: mcbeet/check-commands@v1
        with:
          source: build/GCATs-resourcepack/

  lint-yaml:
    name: Lint YAML

    runs-on: ubuntu-latest

    needs: [validate]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: YAML Linter
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          config_file: .github/config/lint-yaml.yml
