name: Publish Release

permissions:
  contents: write

on:
  push:
    paths:
      - "pakku.json"
    branches:
      - main
  workflow_dispatch:

jobs:
  env:
    runs-on: ubuntu-latest
    outputs:
      server_version: ${{ steps.set-env.outputs.server_version }}

    steps:
      - name: Set environment variables
        id: set-env
        run: ./env.sh

  release:
    runs-on: ubuntu-latest

    needs: [env]

    env:
      ARTIFACT_FILES: |
        artifacts/**/*.zip
        artifacts/**/*.mrpack

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check if tag exists
        uses: mukunku/tag-exists-action@v1.6.0
        id: check_tag
        with:
          tag: ${{ needs.env.outputs.server_version }}

      - name: Check if new release should be generated
        id: check_release
        run: |
          if [[ "${{ steps.check_tag.outputs.exists }}" == "false" && "${{ github.ref_name }}" == "main" ]]; then
            echo "release=true" >> "$GITHUB_OUTPUT"
          else
            echo "release=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Download build artifacts
        if: ${{ steps.check_release.outputs.release == 'true' }}
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Create Release
        if: steps.check_release.outputs.release == 'true'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.env.outputs.server_version }}
          name: Release ${{ needs.env.outputs.server_version }}
          generate_release_notes: true
          files: ${{ env.ARTIFACT_FILES }}
